[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/phlimbo-ea"]
	path = lib/phlimbo-ea
	url = https://github.com/Behodler/phlimbo-ea
[submodule "lib/phUSD-stable-minter"]
	path = lib/phUSD-stable-minter
	url = https://github.com/Behodler/phUSD-stable-minter
[submodule "lib/stable-yield-accumulator"]
	path = lib/stable-yield-accumulator
	url = https://github.com/Behodler/stable-yield-accumulator
[submodule "lib/pauser"]
	path = lib/pauser
	url = git@github.com:Behodler/pauser.git
[submodule "lib/vault"]
	path = lib/vault
	url = git@github.com:Behodler/reflax-yield-vault.git
[submodule "lib/flax-token-v2"]
	path = lib/flax-token-v2
	url = git@github.com:Behodler/flax-token-v2.git
